<table class="w-full text-center bg-white">
  <tr>
     <td>
        <x-image class="w-[560px] sm:w-full" imgUrl="image-3.png" alt="Banner" />
     </td>
  </tr>

  <tr>
     <td class="px-[30px] xs:px-[20px] text-center">
        <table class="align-center-table">
           <tr>
              <td class="pt-[30px] text-xxl font-bold text-green">
                 Excepteur sint occaecat cupidatat
              </td>
           </tr>
           <tr>
              <td
                 class="py-[20px] text-lg text-primary">
                 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                 tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                 veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                 commodo consequat.
              </td>
           </tr>
           <tr>
              <td class="align-center-table">
                 <table>
                    <tr>
                       <td class="px-[20px]">
                          <x-button
                             width="350"
                             height="46"
                             leading="24"
                             padding="11px 20px"
                             rounded="10"
                             href="#"
                             bgColor="#008080"
                             class="text-xl font-bold text-white sm:w-full"
                             >
                             Ut enim ad minim veniam
                          </x-button>
                       </td>
                    </tr>
                 </table>
              </td>
           </tr>
        </table>
     </td>
  </tr>
  <tr>
     <td><p class="text-[40px]">&nbsp;</p></td>
  </tr>
  
</table>