<table class="w-full bg-[#F0F5F5]">

  <tr>
     <td class="py-[35px] text-xxl font-bold text-green text-center xs:py-[25px]">
        Sint cupidatat occaecat ut
     </td>
  </tr>

  <tr>
     <td class="px-[20px]">
        <table>
           <tr>
              <td class="text-center bg-white p-[25px] w-[270px] xs:w-full xs:inline-block ">
                 <table class="w-full">
                    <tr>
                       <td class="w-[100px] text-center">
                          <x-image class="w-[100px]" imgUrl="icons.png" />
                       </td>
                    </tr>
                    <tr>
                       <td
                          class="text-green pt-[15px] text-xl text-center">
                          <strong>Nisi ut ade</strong>
                       </td>
                    </tr>
                    <tr>
                       <td
                          class="text-primary pt-[15px] text-lg leading-5 text-center">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<sup>1</sup>
                       </td>
                    </tr>
                 </table>
              </td>
              <td class="w-[20px] xs:w-full xs:inline-block xs:py-[9px]">&nbsp;</td>
              <td class="text-center bg-white p-[25px] w-[270px] xs:w-full xs:inline-block ">
                 <table class="w-full">
                    <tr>
                       <td class="w-[100px] text-center">
                          <x-image class="w-[100px]" imgUrl="icons.png" />
                       </td>
                    </tr>
                    <tr>
                       <td
                          class="text-green pt-[15px] text-xl text-center">
                          <strong>Duis aute irure</strong>
                       </td>
                    </tr>
                    <tr>
                       <td
                          class="text-primary pt-[15px] text-lg leading-5 text-center">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<sup>2</sup>
                       </td>
                    </tr>
                 </table>
              </td>
           </tr>
        </table>
     </td>
  </tr>

  
  <tr>
    <td class="py-[9px]">&nbsp;</td>
  </tr>

</table>