<table class="w-full bg-[#F0F5F5]">

  <tr>
     <td class="py-[35px] text-xxl font-bold text-green text-center xs:py-[25px]">
        Sint cupidatat occaecat ut
     </td>
  </tr>

  <tr>
     <td class="px-[20px]">
        <table>
           <tr>
              <td class="text-center bg-white p-[25px] w-[270px] xs:w-full xs:inline-block ">
                 <table class="w-full">
                    <tr>
                       <td class="w-[100px] text-center align-top">
                          <x-image class="w-[100px]" imgUrl="icons.png" />
                       </td>
                    </tr>
                    <tr>
                       <td
                          class="text-green pt-[15px] text-xl text-center align-top">
                          <strong>Nisi ut ade</strong>
                       </td>
                    </tr>
                    <tr>
                       <td
                          class="text-primary pt-[15px] text-lg leading-5 text-center align-top">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-sm leading-0 align-[5px]">1</span>
                       </td>
                    </tr>
                 </table>
              </td>
              <td class="w-[20px] xs:w-full xs:inline-block align-center-table">
               <div class="leading-[1px] text-[1px]">&zwj;</div>
              </td>
              <td class="text-center bg-white p-[25px] w-[270px] xs:w-full xs:inline-block ">
                 <table class="w-full">
                    <tr>
                       <td class="w-[100px] text-center align-top">
                          <x-image class="w-[100px]" imgUrl="icons.png" />
                       </td>
                    </tr>
                    <tr>
                       <td
                          class="text-green pt-[15px] text-xl text-center align-top">
                          <strong>Duis aute irure</strong>
                       </td>
                    </tr>
                    <tr>
                       <td
                          class="text-primary pt-[15px] text-lg leading-5 text-center align-top">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.<span class="text-sm leading-0 align-[5px]">2</span>
                       </td>
                    </tr>
                 </table>
              </td>
           </tr>
        </table>
     </td>
  </tr>

  
  <tr>
   <td><p class="text-[40px]">&nbsp;</p></td>
  </tr>

</table>