<table class="w-full bg-white">
  <tr>
     <td class="p-[20px] text-left">
        <table>
           <tr>
              <td class="w-[110px] text-sm">
                 <x-image class="w-[110px]" imgUrl="image-2.png" alt="Logo" />
              </td>
              <td class="text-sm text-secondary text-left pl-[23px] xs:pl-[16px]">
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </td>
           </tr>
        </table>
     </td>
  </tr>
</table>