<table class="w-full">
  <tr>
    <td class="px-[20px] text-center " >
       <table class="w-full">
          <tr>
             <td class="bg-secondary h-[1px]"></td>
          </tr>
          <tr>
             <td class="text-black text-sm text-center py-[20px]">
                Sed do eiusmod tempor incididunt ut labore
             </td>
          </tr>
          <tr>
             <td class="w-[100px] text-center pb-[20px] xs:pb-[30px]">
                <x-image class="w-[100px]" imgUrl="image-2.png"/>
             </td>
          </tr>
       </table>
    </td>
 </tr>
</table>
